# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd

#booking-backend/clinicbooking-456701-30e6e8572e11.json

# Python virtual env（針對兩個 backend）
booking-backend/.venv/
booking-backend/.secrets/
linebot-backend/.venv/

# === Node.js frontend ===
booking-frontend/node_modules/
booking-frontend/.next/
booking-frontend/.cache/
booking-frontend/out/

clinic-admin/node_modules/
clinic-admin/.next/
clinic-admin/.cache/
clinic-admin/out/

# Yarn & pnpm（萬用版本管理器排除）
.pnpm-debug.log*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# npm log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === 通用開發資源忽略 ===
.DS_Store
*.pem
*.tsbuildinfo
/coverage
/build

# === Next.js TypeScript 自動產生的檔案 ===
booking-frontend/next-env.d.ts

# === VSCode（多人協作建議 ignore） ===
.vscode/

# === 環境變數 ===
.env*
booking-frontend/.env*
linebot-backend/.env*
booking-backend/.env*

# === 部署平台設定 ===
.vercel/
