@import "tailwindcss";

:root {
  --background: #fdf5f2;
  --foreground: #e1cac2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdf5f2;
    --foreground: #e1cac2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 去掉外框 */
.react-datepicker {
  border: none !important;
  font-family: inherit;
}

/* 日期方塊美化 */
.react-datepicker__day {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 4px;
  border-radius: 10px !important;
  background-color: transparent;
  transition: background-color 0.3s, transform 0.2s;

  padding: 5px; /* 間距，可改 12px、20px 看想要大小 */
  font-size: 0.9rem;  /* 字體大小 */
  font-weight: 1000;   /* 可選加粗 */
}

/* .react-datepicker__day--keyboard-selected {
  background-color: #d4b7a5 !important;
  color: white !important;
} */

/* 當天 hover 效果 */
.react-datepicker__day:hover {
  background-color: #fcd9bd !important; /* 柔和色塊 */
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

/* 已選日期 */
.react-datepicker__day--selected {
  background-color: #d4b7a5 !important;
  color: white !important;
  border-radius: 9999px;
}

/* .react-datepicker__day--today.react-datepicker__day--disabled {
  font-weight: 500;
  background-color: #fdf1e3;
  border: 2px dashed #d4b7a5; 
  color: #d4b7a5;
  opacity: 1 !important;
} */

/* 禁用日期 */
/* .react-datepicker__day--disabled {
  color: #ccc !important;
  opacity: 0.5;
  font-weight: 500;   
} */

/* 今天以前的灰樣式 */
.react-datepicker__day.disabled-future {
  /* background-color: #f0f0f0; */
  color: #999999;
  cursor: not-allowed;
  border-radius: 6px;
}

/* 未來但不可預約的灰樣式 */
.react-datepicker__day.disabled-past {
  background-color: #fbefef;
  color: #ffffff;
  cursor: not-allowed;
  border-radius: 6px;
}

/* 星期幾字號 + 顏色 */
/* .react-datepicker__day-name {
  font-size: 1.1rem;
  font-weight: bold;
  color: #d4b7a5;
  padding: 10px 0;
} */

.react-datepicker__month-container {
  border: none !important;
}